@import "../../less/public";

.basic-input{
  margin:20px auto;
  width:600px;
  height:80px;
  border-bottom: 1px solid #a3a3a3;
  input{
    font-family:"Never_say_never";
    width:inherit;
    height:80px;
    line-height: 50px;
    color: #ffffff;
    font-size: 32px;
  }
}

.text-input{
  .basic-input();
}