@import "./public.less";
.set-temp-background-color{
  background-color: red;
}
@WHOLE_WIDTH: 750px;
@WHOLE_HEIGHT: 1334px;

@LISTS-PADDING:40px;
@LISTS-DEFAULT-COLOR:#333;
@BORDER-DEFAULT-COLOR:#e7dfdf;
.mid-header{
  line-height: 100px;
}

.top-bar{
  width:@WHOLE_WIDTH;
  height:450px;
  background-image: url("../image/back.jpg");
  color: #ffffff;
  &>div{
    width:@WHOLE_WIDTH/2;
    height:inherit;
    float: left;
    font-family: "plaza";
    .title{
      width:@WHOLE_WIDTH/4;
      font-size:80px;
      font-weight: 100;
      line-break: auto;
      margin: 150px 0 0 50px;
    }
    .date{
      font-size: @F2;
      margin: 33px 0 0 50px;
    }
  }
  .taskNum-block{
    .transform-black();
    .processNum{
      width:@WHOLE_WIDTH/5;
      height:150px;
      text-align: right;
      margin-top:200px;
      .task-num{
        font-size: 50px;
      }
      .task-type{
        font-size: 30px;
      }
    }
  }
}

.lists{
  width:@WHOLE_WIDTH - 2*@LISTS-PADDING px;
  height:@WHOLE_HEIGHT - 450px;
  padding:0 @LISTS-PADDING;
  color:@LISTS-DEFAULT-COLOR;
  font-size:@F4;

  .todo{
    width:inherit;
    height:100px;
    line-height:100px;
    border-bottom: 1px solid @BORDER-DEFAULT-COLOR;
    padding:50px 0;
    .type-icon{
      width:100px;
      height:inherit;
      border:2px solid #2870a9;
      border-radius: 50px;
      text-align: center;
      font-size: @F1;
      color:@BORDER-DEFAULT-COLOR;
    }
    & span{
      font-weight: bolder;
      color:#2870a9;
    }
  }
}
